/* All positional values are in vh, to stay as static as possible when zooming in & out*/
.bot-container {
    width: 9vh;
    height: 9vh;
    position: fixed;
    right: 2%;
    bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #000000CC, #202020CC);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 0.5vh solid #101010CC;
    border-radius: 3vh;
    border-top-left-radius: 0; /* Gives a drop effect */
    box-shadow: 0 0 3vh 0 rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.2s ease-out, width 0.4s ease-out, height 0.4s ease-out;
}

/* Enlarge the shadow spread radious on hover*/
.bot-container:hover {
    box-shadow: 0 0 3vh 0.6vh rgba(0, 0, 0, 0.8);
}

/* Toggle class onClick */
.bot-container.maximized {
    width: 60vh;
    height: 80vh;
    background: linear-gradient(135deg, #000000DD, #202020DD);
    display: block;
}

.bot-container #robot-icon {
    font-size: 5vh;
    color: #DDDDDD;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.bot-container .chat-container {
    height: 80vh; /* Same as .bot-container.maximized */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

.bot-container .chat-container #arrow-icon {
    position: absolute;
    left: 1.8vh;
    top: 1.8vh;
    font-size: 3vh;
    cursor: pointer;
}

.bot-container .chat-container h1 {
    display: block;
    margin: 2vh 0;
    font-size: 2vh;
}

.bot-container .chat-container .chat {
    width: 75%;
    padding: 2vh;
    flex-grow: 1; /* Take the rest of the height in .chat-container */
}

.bot-container .chat-container .chat .message {
    width: fit-content;
    max-width: 35vh;
    padding: 0.6vh 1.2vh 1vh;
    margin-bottom: 1.5vh;
    clear: both; /* Combined with float, makes sure only 1 msg per row */
    word-wrap: break-word;
    font-weight: 500;
    border-radius: 1.2vh;
    font-size: 2vh;
}

.bot-container .chat-container .chat .message p {
    margin: 0;
}

.bot-container .chat-container .chat .user-message {
    background: #4db8dc;
    color: #080808;
    float: right;
    border-top-right-radius: 0.3vh;
}

.bot-container .chat-container .chat .bot-message {
    background: #222729;
    float: left;
    border-top-left-radius: 0.3vh;
}

.bot-container .chat-container .input-container {
    width: 80%;
    margin: 2vh 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #222729;
    border-radius: 1vh;
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.7);
}

.bot-container .chat-container .input-container input {
    width: 100%;
    margin: 0;
    padding: 1.5vh;
    font-size: 2vh;
    color: #CCCCCC;
    background: none;
    border: none;
}

.bot-container .chat-container .input-container input:focus {
    outline: none;
}

.bot-container .chat-container .input-container .send {
    padding: 1.5vh 1.5vh 1vh 1vh;
    font-size: 2.2vh;
}

.bot-container .chat-container .input-container .send #send-btn {
    cursor: pointer;
}
