.hint-wrapper {
    display: inline-block;
    position: relative;
}

#icon {
    margin-left: 0.2vw;
    color: #666;
    text-align: center;
    font-size: calc(9px + 1.5vmin);
    vertical-align: -0.5vmin; /* Fix an annoying slight misalignment */
}

.tooltip {
    width: 9vw;
    min-width: min-content; /* Prevents content from escaping */
    padding: 0.5vh 0.8vw;
    opacity: 0;
    pointer-events: none; /* Hovering over it triggers it to display */
    background: #666;
    color: #D2D2D2;
    text-align: center;
    font-size: calc(9px + 0.5vmin);
    border-radius: 6px;
    
    position: absolute;
    z-index: 2;
    left: 50%;
    /* Also applying .above/.below */

    transition: opacity 0.15s ease-out;
}

.tooltip.above {
    bottom: 100%;
    transform: translate(-50%, -0.2vh);
}

.tooltip.below {
    top: 100%;
    transform: translate(-50%, +0.3vh);
}

.hint-wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: all;
}
