.search-bar-container {
    width: 30rem;
    height: 2rem;
    padding: 10px 20px;
    background: linear-gradient(to right, #00000088, #11111177);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 0 5px #333;
}

.search-bar-container input {
    width: 100%;
    padding-left: 20px;
    font-size: 1.5rem;
    color: #EEE;
    border: none;
    background: none;
}

.search-bar-container input:focus {
    outline: none;
}

#search-icon {
    color: #EEE;
    font-size: 2rem;
}
