.upload {
    padding: 0.5vh 0.7vh 0.2vh;
    font-size: 2.8vh;
}

.upload #file-input {
    display: none; /* #upload-btn replaces it */
}

.upload #upload-btn {
    cursor: pointer;
}

.upload .disabled-input {
    color: #606060;
    /* !important is necessary since ID is more specific than class */
    cursor: default !important;
}
