.App {
  margin: 0;
  padding: 0;
}

.App-header {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  min-height: 100vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 1vmin);
  color: #D2D2D2;
}

.scroll-container {
  margin-top: 2rem;
  overflow: visible !important; /* Must override internal design */
}

.attacks-data {
  width: 94vw;
  background: linear-gradient(to right, #040404A0, #111111A0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  border-spacing: 0; /* Otherwise there will be annoying gaps*/
  table-layout: fixed; /* To manually set columns widths later */
}

.attacks-data th {
  padding: 10px;
  backdrop-filter: blur(0);
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
  transition: border-bottom 0.3s ease-out;
}

.attacks-data th.sticky-th {
  border-bottom: 3px solid #666666CC;
}

.attacks-data thead {
  position: sticky;
  top: -1px;
}

.attacks-data thead.sticky-header {
  background: #1B1B1B;
}

.attacks-data td {
  padding: 10px 15px;
  border-right: 1px solid #3A3A3AE0;
  border-bottom: 2px solid #0000007F;
  transition: background 0.2s ease-out;
  word-wrap: break-word;
}

.attacks-data td:hover {
  background: rgba(0, 0, 0, 0.15);
}

/* Manually set a custom width for each column */

.attacks-data .name {
  width: 12.5%;
}

.attacks-data .desc {
  width: 30%;
}

.attacks-data .detection {
  width: 25%;
}

.attacks-data .platforms {
  width: 8%;
}

.attacks-data .phase {
  width: 11.5%;
}

.attacks-data .id {
  width: 13%;
}

/* UNIQUE ID column */
.attacks-data td:last-child {
  border-right: none;
  font-family: monospace;
}

/* last row */
.attacks-data tr:last-child td {
  border-bottom: none;
}
