.App {
  margin: 0;
  padding: 0;
}

.App-header {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  min-height: 100vh;
  padding: 2rem 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 1vmin);
  color: rgb(210, 210, 210);
}

.attacks-data {
  width: 96%;
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  border-spacing: 0;
  table-layout: fixed;
  overflow: clip;
}

.attacks-data th {
  padding: 10px;
  backdrop-filter: blur(0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

/* .attacks-data thead {
  position: sticky;
  top: -1px;
} */

.attacks-data td {
  padding: 10px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  transition: background 0.2s ease-out;
}

.attacks-data td:hover {
  background: rgba(0, 0, 0, 0.15);
}

.attacks-data .name {
  width: 12.5%;
}

.attacks-data .desc {
  width: 30%;
}

.attacks-data .detection {
  width: 25%;
}

.attacks-data .platforms {
  width: 8%;
}

.attacks-data .phase {
  width: 11.5%;
}

.attacks-data .id {
  width: 13%;
}

.attacks-data td:last-child {
  border-right: none;
  font-family: monospace;
}

.attacks-data tr:last-child td {
  border-bottom: none;
}

code {
  padding: 0 4px;
  background: rgba(31, 31, 31, 0.65);
  border-radius: 6px;
}

.App-link {
  color: #61dafb;
}
